.card {
  height: 250px;
  width: 250px;
  font-weight: 500;
  border: 0.25px solid rgb(232, 232, 232);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-info {
  padding: 10px;
}

.card-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card-info p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #888;
}
